# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
*.user

# mstest test results
TestResults
/packages/*
_Resharper*
/Knockout.Concurrency.Demo/Scripts/Knockout.Concurrency*.js
/src/Knockout.Concurrency-*.js