html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

span.concurrency {
    background: no-repeat url(images/icons/warning-16.png);
    padding: 2px 0 2px 16px
}

    span.concurrency button {
        width: 16px;
        height: 16px;
        border: none;
        background: transparent;
        margin-left: 2px;
        cursor: pointer;
    }

        span.concurrency button.take-local {
            background-image: url(images/icons/resolve-16.png)
        }

        span.concurrency button.take-server {
            background-image: url(images/icons/merge-16.png)
        }