@{
    ViewBag.Title = "Knockout.Concurrency";
}

<h2>Kennel registration</h2>
<p>
    <label>Name</label>
    <input data-bind="value: Name" />
</p>
<p>
    <label>Stray</label>
    <input data-bind="checked: Stray" type="checkbox" />
</p>
<h3>Offspring</h3><button data-bind="click: addPuppy">Add</button>
<div data-bind="foreach: Puppies">
    <p>
        <label>Name</label>
        <input data-bind="value: Name" />
        <button data-bind="click: $root.removePuppy.bind($root)">Remove</button>
    </p>
</div>
<button data-bind="click: save, disable: hasConflicts">Save</button>
<button data-bind="click: resolveAll, visible: hasConflicts">Resolve all</button>

<script src="@Url.Content("~/Scripts/demo.js")" type="text/javascript"></script>