<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" requireReinstallation="True" />
  <package id="Ninject.MVC3" version="3.0.0.6" requireReinstallation="True" />
  <package id="Ninject.Web.Common" version="3.0.0.7" requireReinstallation="True" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SignalR.EventAggregatorProxy" version="1.2.99.0" targetFramework="net45" />
  <package id="SignalR.EventAggregatorProxy.Constraint" version="1.1" targetFramework="net45" />
  <package id="WebActivator" version="1.5" requireReinstallation="True" />
</packages>